@import './base.css';

@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'LINESeedKR-Rg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'LINESeedKR-Rg', 'LINESeedKR-Bd', sans-serif;
}

:root {
  --color-yellow: #fcc61f;
  --color-blue: #198bf3;
  --color-black: #a9a9a9;
}
